doctype html
html(ng-app="myApp")
    head
        title="ArnoldC Speaker"
        link(rel='stylesheet', href='css/bower.all.css')
        link(rel='stylesheet', href='css/styles.css')
        script(src='src/bower.all.js')
        script(src='src/build.js')

    body
        block content
            #fill
            .container(ng-controller="SpeakerController")
                .page-header
                    h1 ArnoldC Speaker 
                        small
                            | Emotion for ArnoldC Language
                        a(href="https://github.com/cesardeazevedo/ArnoldC-Speaker", target="_BLANK", alt="hue")
                            image.github.pull-right(src="images/GitHub-Mark-64px.png", alt="Github Project")
                arnoldc-Editor(file="helloworld.arnoldc", title="Hello World", height="200px")
                hr
                arnoldc-Editor(file="factorial.arnoldc", title="Factorial", height="500px")
